{
  margin: 0;
  padding: 0;
}

body {
    background:rgb(240, 240, 240);
    font-size: 16px;
    font-family: 'Krona One',  sans-serif;
}
header, .main, footer{

   width: 90%;
   max-width: 1000px;
   margin: 20px auto;
}

header nav{
    background: #0F1547;
    overflow:hidden;
}
header nav ul{
    
     list-style: none;
}

header nav ul li{
   float: left;
}

header nav ul li a{
   padding: 10px  10px;
   display:block;
   color:#fff;
   text-decoration: #009900;
}

header nav ul li a:hover{
      background:  #D47108;
}

.main .articulos {
   width: 68%;
   margin-right:2%;
   float: left;
}

.main .articulos article {
     padding: 20px;
     background:#fff;
     margin-bottom:20px;
}

aside{

    width: 30%;
    background:#fff;
    float: left;
    padding: 20px;
    box-sizing:border-box;
}

footer{

   background: #0F1547;
   color:#fff;
   clear:both;
   padding: 10px  0px;
   text-align:center;
}










 























































































